# Environments
.venv/
venv/
ENV/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node
node_modules/
dist/
dist-ssr/
*.local

# Logs
logs/
*.log

# Whisper Models
backend/models/

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Temporary Audio
backend/tmp*
frontend/tmp*
